@media screen and (max-width:1024px){

.delivery-parts{
    width: 30%;
}
.partsAndAssets>img {
    width: 100%;
    padding-top: 40px;
    
}

.strongSpeed {
    height: auto;
}
.maincontenedorStrong{
    width: auto;
    display: inline;
}
.strongSpeed>img{
    width: auto;
    height: auto;
}
.contenedorStrongSpeed {
    width: auto;
    margin: 0;
    justify-content: space-around;
}
.tituloStrong {
    text-align: center;
}

.numeros {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
}
.boton {
    padding-top: 5px;
    margin: auto;
}
.StrongSpeedImg {
    width: auto;
}
.divStrongSpeedImg{
    width: 50%;
    margin: auto;
}

.service-kits-titulos{
    width: 90%;
}
.Services-imagen{
    width: auto;
}
.img-choose-parts{
    width: auto;
}
.partsAndAssets>img{
    width: auto;
    max-width: 100%;
    height: 200px;
}
.cocheIH3>img{
    width: auto;
    max-width: 100%;
    height: 200px;
}
.bajo-footer{
    height: auto;
}
}
