* {

    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*--------------------1--------------------*/
/*--------------------1.1--------------------*/
.header-gris {
    width: 100%;
    height: auto;
    background-color: #eeeeee;
    color: rgb(58, 57, 57);
    font-size: 10px;
}

.header-ochenta {
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

.header-cincuenta1 {
    width: 80%;
    display: flex;
}

.header-cincuenta2 {
    width: 20%;
    display: flex;
}

.header-veinticinco-izquierda {
    width: 30%;
    display: flex;
    line-height: 20px;
}

.header-veinticinco-derecha {
    width: 40%;
    display: flex;
    line-height: 20px;
    justify-content: space-around;
}

.header-img {
    width: 7%;
}

.header-texto {
    width: 90%;
}

.header-img>img {
    width: 20px;
    height: 20px;
}

.header-veinticinco {
    line-height: 20px;
    display: flex;
    margin-right: 15px;
}

.parts {
    display: flex;
    color: orangered;
    line-height: 20px;
}



/*--------------------1.2--------------------*/
.titulos-header {
    width: 70%;
    display: flex;
    height: 150px;
    margin: auto;
    justify-content: space-around;
}

.titulo-principal {
    display: flex;
    margin: auto;
}

.titulo-principal-img {
    float: left;
}

.titulo-principal-text {
    float: right;
}

.titulo-principal-text>h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    margin-bottom: 20px;
}

.titulo-principal-text>h1 {
    text-align: center;
    font-size: 50px;
}

.titulo-principal-img>img {
    width: 70px;
    height: 70px;
}

.HotLine {
    line-height: 150px;
    float: left;
    text-transform: uppercase;
    color: #414141;
    margin-right: auto;
}

.icones {
    line-height: 150px;
    float: right;
    margin-left: auto;
}

.icones>img {
    width: 40px;
    height: 40px;

}

/*--------------------1.3--------------------*/
.navegacio {
    background: #2a2c3c;
    height: 50px;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
}

.navegador-prin {
    width: 70%;
    text-align: center;
    margin: auto;
    line-height: 50px;
    display: flex;
    justify-content: space-around;
}

.navegador-prin>p {
    margin: 20px;
}

.ShopDepartament {
    width: 20%;
    height: 48px;
    background: orangered;
    border: 1px solid orangered;
    padding-right: 30px;
    padding-left: 30px;
    justify-content: space-evenly;
}

.Home {
    width: 9%;
    height: 50px;
    margin-left: 5px;
}

.Home>p>i {
    margin-left: 5px;
}

.Shop {
    width: 9%;
    height: 50px;
}

.StoreList {
    width: 12%;
    height: 50px;
}

.Blog {
    width: 10%;
    height: 50px;
}

.Blog>p>i {
    margin-left: 5px;
}

.Pages {
    width: 10%;
    height: 50px;
}

.Pages>p>i {
    margin-left: 5px;
}

.Contact {
    width: 11%;
    height: 50px;
}

/*--------------------2--------------------*/
.compres {
    width: 70%;
    display: flex;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.shopNow {
    background-image: url("../img/WhatsApp Image 2020-10-30 at 16.25.21.jpeg");
    background-size:cover;
    display: flex;
    width: 70%;
    height: 320px;

}

.textos-shopNow {
    width: 50%;
    float: right;
    line-height: 75px;
}

.textos-shopNow>h3 {
    margin-left: 15px;
}

.textos-shopNow>h2 {
    margin-left: 15px;
}

.boton-shopNow {
    background: orangered;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px;
    margin-left: 20px;
    width: 50%;
    border: 1px solid orangered;
    border-radius: 5px;
}

.img-shopNow>img {
    width: 100%;
    height: 250px;
}

.myVehicles {
    width: 25%;
    height: auto;
    min-height: 300px;
    margin: auto;
    border: orangered 1px solid;
    text-align: center;
}

.myVehicles>h2 {
    margin: 15px;
}

.myVehicles>p {
    margin: 15px;
    padding-left: 30px;
    line-height: 40px;
    border: 1px solid grey;
    background-color: #bbbbbb;
    font-size: 12px;
    border-radius: 5px;
    height: 40px;
    text-align: left;
}

.boton-myVehicles {
    background: orangered;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    padding: 15px;
    margin-bottom: 5px;
    width: 86%;
    border: 1px solid orangered;
    border-radius: 5px;
}

/*--------------------3--------------------*/
.delivery {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
    border: solid 1px lightgray;
    font-size: 11px;
}

.delivery-parts {
    display: inline-block;
    width: 20%;
    margin: 15px 0 5px 0;
    padding: 0 15px 0 15px;
}

.delivery-img {
    width: auto;
    float: left;
}

.delivery-img>img {
    width: 50px;
    height: 40px;
}

.delivery-text {
    width: auto;
    float: right;
}

.delivery-text>p {
    font-size: 15px;
    color: gray;
}

/*--------------------4--------------------*/
.buy-objects {
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 40px;
    margin-right: auto;
    justify-content: space-between;
}

.partsAndAssets {
    width: 50%;
    text-align: center;
    background: #fdc635;
    color: rgb(41, 39, 39);
}

.partsAndAssets>h2 {
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

.partsAndAssets>h3 {
    padding-top: 10px;
    font-size: 16px;
    font-weight: normal;
}

.newdiscover {
    width: 50%;
    text-align: center;
    background: #cacaca;
    margin-left: 15px;
    text-transform: uppercase;
}

.newdiscover>h2{
    padding-top: 10px ;
}
.LosH2{
    text-align: center;
    display: flex;
}

.LosH2>h2{
    text-emphasis: center;
    margin: 5px;
}

.cocheIH3>h3{
    padding-top:20px
}


.partsAndAssets>img {
    width: 70%;
    height: auto;
    padding-bottom: 0;
}

.cocheIH3>img {
    width: 60%;
    height: 205px;   
}

/*--------------------5--------------------*/
.choose-parts {
    width: 70%;
    margin: auto;
}

.titulos-choose-parts {
    text-align: center;
}

.titulos-choose-parts h2 {
    padding: 10px 0 10px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.titulos-choose-parts h3 {
    font-size: 12px;
    padding: 10px 0 10px 0;
    color: gray;
    font-weight: normal;
}

.totes-img-choose-parts {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-choose-parts {
    width: 12%;
    margin: 20px 20px 20px 20px;
}

.img-choose-parts img {
    width: 100%;
    height: 150px;
}

/*--------------------6--------------------*/
/*     background: url(../img/fondoSpeed.png);
    background-repeat: no-repeat;
    background-position: center;
*/
.strongSpeed {
    background-color: black;
    color: white;
    height: 350px;
    text-transform: uppercase;
}
.maincontenedorStrong{
    width: 80%;
    margin: auto;
    display: flex;
}
.contenedorStrongSpeed {
    display: block;
    margin-left: 100px;
    width: 40%;
}

.tituloStrong {
    width: 100%;
    height: 75px;
    padding-top: 30px;
    text-align: left;
}

.numeros {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
}

.numero>h3 {
    border: 1px solid white;
    color: orangered;
    padding: 20px;
    text-align: center;
}

.numero>p {
    font-size: 12px;
    text-align: center;
    padding-top: 15px;
}

.boton {
    width: 30%;
    height: 75px;
    line-height: 75px;
    text-align: center;
    margin-left: 35px;
}

#boton-speed {
    background: orangered;
    color: white;
    border-radius: 5px;
    border: 1px solid orangered;
    width: 140px;
    height: 55px;
    margin: 5px;
    text-transform: uppercase;
    font-size: 11spx;
}

.StrongSpeedImg {
    width: 70%;
}
 
/*--------------------7--------------------*/
.service-kits {
    width: 70%;
    margin: auto;
}

.estrellas>p{
    justify-content: space-between;   
}
.tachado {
    text-decoration: line-through;
    margin-right: 10px;
}

.notachado {
    font-weight: bold;
}

.service-kits-titulos {
    width: 40%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 15px 15px 15px;
    justify-content: space-evenly;
    display: flex;
    text-transform: uppercase;
}

.Services-imagenes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Services-imagen {
    width: 25%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}
.estrellas {
    width: 100%;
    margin-top: 10px;
}

.estrellas>img {
    width: auto;
    height: 17px;
}


/*--------------------8--------------------*/
.advice {
    background-color: #313342;
    color: white;
    text-align: center;
    height: 200px;
    line-height: 50px;
    display: flex;
    margin-top: 40px;

}
.advice-container{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.advice-titulos {
    display: left;
    width: 40%;  
}

.advice-titulos h2 {
    text-transform: uppercase;
}

.advice-titulos p {
    font-size: 14px;
}
.advice-botones {
    display: right;
    width: 40%;
   
}

#boton-blanco {
    background: transparent;
    color: white;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid white;
    text-transform: uppercase;
}

#boton-naranja {
    background: orangered;
    color: white;
    border-radius: 5px;
    border: 1px solid orangered;
    width: 150px;
    height: 70px;
    margin: 5px;
    padding: 15px;
    text-transform: uppercase;
    font-size: 13px;
}

/*--------------------9--------------------*/
.tips {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}

.contenedor>h2 {
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.servicio-cont {
    display: flex;
    width: 100%;
}

.servicio-ind {
    width: 33%;
    margin-right: 20px;
}

.servicio-ind>img {
    width: 100%;
    height: 250px;
}

.servicio-ind>h3 {
    text-transform: uppercase;
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #333333;
}

.servicio-ind>h4 {
    color: #353535;
    font-size: 15px;
    font-weight: normal;
}

.servicio-ind>p {
    color: gray;
    text-align: justify;
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
}

#ReadMore {
    color: orangered;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}

/*--------------------10--------------------*/
footer {
    background: #2c2c3c;
    color: #a0a1a9;
    width: 100%;
    height: 400px;

}

.dentrofooter {
    width: 80%;
    margin: auto;
    display: flex;
}

.cossas-footer {
    width: 25%;
}

.cossas-footer>h3 {
    margin-top: 40px;
    margin-bottom: 30px;
}

.cossas-footer>p {
    margin: 10px;
}

.cossas-footer>img {
    width: 25px;
    height: 25px;
    float: left;
}

.xarxes {
    margin-top: 30px;
}

.xarxes>img {
    justify-content: space-between;
    width: 22px;
    height: 22px;
}

.bajo-footer {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-top: 1px solid gray;
    padding-top: 40px;
}

.coopyright {
    float: left;
    width: 50%;
}

.coopyright>p {
    margin: 5px;
}

.fotos-footer {
    float: right;
    width: 50%;
}

.fotos-footer>img {
    width: 40px;
    height: 25px;
    border-radius: 1px;
    float: right;
    margin: 5px;
}