@media screen and (max-width:400px){
    /*Header*/
    /*Header Gris*/
    .header-cincuenta1 {
        width: 70%;
        display: inline;
    }
    .header-cincuenta2 {
        display: block;
        width: 30%;
    }
    .header-veinticinco {
        width: 50%;
    }
    /*Titulos Header*/
    .titulos-header {
        height:auto;
    }
    .HotLine{
        font-size: 10px;
    }
    .titulo-principal{
        width: 35%;
        margin: auto;
    }
    .titulo-principal-img>img {
        width: 40px;
        height: 40px;
    }
    .titulo-principal-text>h1 {
        font-size: 15px;
    }
    .icones>img{
        width: 20px;
        height: auto;
    }
    /*Navegacio*/

    .navegacio {
        font-size: 9px;
    }
    .navegador-prin {
        width: 90%;
    }
   
    /*Main*/
    /*Compres*/
    .compres {
        display: block;
    }
    .shopNow {
        width: auto;
    }
    .myVehicles {
        width: 80%;
        margin-top: 10px;
    }
   
    /*Delivery*/
    .delivery{
        width: 90%;
    }
    .delivery-parts{
        width: auto;
    }

    /* Part 4 buy-objects*/
    .partsAndAssets>img{
        width: 175px;
        height: 150px;
    }


    /* Part 6 Strong spending Responsive*/
    .tituloStrong{
        width: 90%;
        margin: auto;
    }
    .tituloStrong>h2{
        font-size: 20px;
    }
    .numeros{
        width: 90%;
    }
    .divStrongSpeedImg>img {
        width: 300px;
        margin: auto;
    }

    /*Part 7 Service Kits Responsive*/
    .service-kits{
        width: 90%;
    }
    .service-kits-titulos {
        width: auto;
        font-size: 11px;
    }
    .Services-imagen{
        width:auto;
    }
    .Services-imagen>img{
        width: auto;
        max-width: 100px;
        height: 200px;
    }
    .estrellas>img{
        width: auto;
    }
    .estrellas>h3{
        font-size: 11px;
    }
    .estrellas>p{
        font-size: 10px;
    }
    /*Part 8 advice*/
    .advice-container{
        height: auto;
    }
    .advice-titulos>h2 {
        font-size: 12px;
    }
    .advice-titulos>p {
        font-size: 9px;
    }
    .advice-botones{
        width: 50%;
        height: auto;
    }
    #boton-blanco{
        font-size: 9px;
    }
    #boton-naranja{
        width: 125px;
        font-size: 9px;
    }
    /*footer*/
    .dentrofooter {
        width: 90%;
        height: auto;
        font-size: 12px;
    }
    .cossas-footer {
        font-size: 10px;
        text-align: center;
    }
    .fotos-footer>img{
        width: 20px;
    }
    .bajo-footer{
        margin-top: 0px;
        font-size: 10px;
    }


}